extends layout

block content
  div 
    ul 
      each user in users 
          div.user 
              p='@'+user.UserId
              a(href='/home/user/'+user.UserId)
                  img(src= ((undefined == user.UserPicture) ? '/images/default_user_image.jpg' : '/'+ user.UserPicture))
              p=user.UserPseudo
              p=user.UserEmail
              p=user.UserBiography
              
                
