extends layout

block content
  div content 
    ul 
      each post in posts 
          div.post 
              p=post.userId
              a(href='/home/user/'+post.PostAuthorId+'/post/'+post._id)
                  img(src= ((undefined == post.PostPicture) ? '' : '/'+ post.PostPicture)) 
              p= post.PostDescription 
              p= post.PostLike 
              p= post.date
                
