doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Bienvenue sur SpaceChat, le nouveau réseau social en vogue.
    ul 
        li 
            a(href='/home/feed') Le Feed 
        li 
            a(href='/home/search') Découvrir du nouveau contenu 
        li 
            a(href='/home/connection') Se connecter 
        li 
            a(href='/home/user/create') Créer un compte
