extends layout

block content
  h1 #{title}
  img(src = ((undefined == user.UserPicture) ? '/images/default_user_image.jpg' : '/'+user.UserPicture))  
  form(method='POST' action='')
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='email', placeholder='Email' name='email' value=(undefined===user ? '' : user.UserEmail))
      label(for='password_a') New Password:
      input#password1.form-control(type='password', placeholder='Password' name='password_a')
      label(for='password_b') Enter again you New Password:
      input#password2.form-control(type='password', placeholder='Password' name='password_b')
    button.btn.btn-primary(type='submit') Submit
  em=erros

  if errors
   ul
    for error in errors
     li!= error.msg